<form (submit)="onRegisterSubmit()">
    <div class="mb-3 mt-5">
        <label class="form-label">User</label>
        <input type="text" class="form-control" [(ngModel)]="name" name="name" />
    </div>
    <div class="mb-3">
        <label class="form-label">User Name</label>
        <input type="text" class="form-control" [(ngModel)]="username" name="username" />
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" [(ngModel)]="email" name="email" />
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
